{% extends 'base.html' %}

{% block content %}
<div class="table-responsive">
          <table id="table_modem" class="table table-striped">
            <thead>
              <tr>
                <th>id</th>
                <th>name</th>
                <th>qr_code</th>
                <th>status</th>
              </tr>
            </thead>
            <tbody>
              {% for modem in all_modems %}
              <tr>
                <td>{{ modem.id }}</td>
                <td>{{ modem.name }}</td>
                <td>{{ modem.qr_code }}</td>
                <td>{{ modem.status }}</td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>

{% endblock %}

{% block scripts %}
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">

<script type="text/javascript">
          $(document).ready(function() {
              $('#table_modem').DataTable();
          } );
</script>

{% endblock %}
